// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   = #027BE3
// $secondary = #26A69A

// $positive  = #21BA45
// $negative  = #C10015
// $warning   = #F2C037
$primary = $orange-7
$secondary = #0785f2
$light = #fffdf7
$dark = $blue-grey-10
$positive = #31b00f
$negative = #bf1f2f
$info = #31ccec
$warning = $amber
$accent = #0006a6